body {
font-family: "Boogaloo";
}

.header{
background-color:#3c3c3c;
color:#ffffff;
height:100px;
}
.header-logo{
float:left;
font-size:52px;
padding:20px 40px;
}
.header-logo span{
color:#DAA520
}
.header-list{
font-size:14px;
float:right;
padding:0px 40px;
}

.main{
padding: 180px 0 100px 0;            
background-image: url(https://github.com/alifarfiansyah/arfiansyah/blob/master/Project21.png);            
background-size: cover;            
color: #000000;            
text-align: center;           
}
.main h1{
font-size:48px;
}
.main h2{
font-size:24px;
}
.main p{
font-size:14px;
}

.footer{
background-color:#3c3c3c;
color:#ffffff;
height:40px;
padding-top:20px;
}
